@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_layout.cshtml";

}

<style>
    .first_panel{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    @@media screen and (max-width: 576px){
        .left_panel {
            color: white;
            background-image: url("../Content/images/first.jpg");
            background-position: center;
            background-size: cover;
            padding-top: 3rem;
            padding-bottom: 3rem;
        }

        .right_panel{
            display: none;
        }
        
    }

    .form-group{
        text-align:center;
    }
    .second_panel {
        background-image: url("../Content/images/second.jpg");
        background-position: center;
        height: 400px;
        background-attachment: fixed;
        background-size: cover;
    }
    .fourth_panel {
        background-image: url("../Content/images/commons.jpg");
        background-position: center;
        height: 100%;
        background-size: cover;
        padding: 2rem;
    }
    .card-deck {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .card-img-top{
        background-size: cover;
    }
    .footer{
        height: 100%;
        background-color: #0094ff;
        text-align: center;
        padding: 2rem;
    }

</style>

<div class="first_panel container" id="top">
    <div class="row">
        <div class="col-md-6 left_panel d-md-block" style="display: block; margin: auto;">
            <h1 class="display-3">My Cool Tour</h1>
            <p>I want to go to</p>
            
            @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "form-group" }))
                {
                <div class="input-group mb-3">
                    @Html.TextBox("q", null, new { @class = "form-control" })
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Find tours</button>
                    </div>
                </div>
                }   
        </div>
        <div class="col-md-6 d-sm-none d-md-block right_panel">
            <img class="img-fluid" src="~/Content/images/first.jpg" />
        </div>
    </div>
</div>
<div class="second_panel container">
    <div class="container text-white" style="padding-top: 4rem;">
        <h3 class="display-4">Come find your next adventure</h3>
        <p class="lead">Where do you want to go next?</p>
        <a href="/Tours" class="btn btn-outline-secondary" style="color: white;">All Tours</a>
    </div>
</div>
<div class="third_panel container">
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="~/Content/images/bigben.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Take a look</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/Content/images/tokyo.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Take a look</a>
            </div>
        </div>
    </div>
</div>
<div class="fourth_panel">
    <div class="container text-white" style="padding-top: 4rem; text-align: right;">
        <h3 class="display-4">Common Tours</h3>
        <p class="lead">Paris</p>
        <p class="lead">London</p>
        <p class="lead">Tokyo</p>
        <p class="lead">USA</p>
        <button class="btn btn-outline-secondary text-white">Show all</button>
    </div>
</div>
<hr />
<div class="footer center text-white">
    <h1 class="display-4">My Cool Tour</h1>
    <p class="lead">Adventures Awaits</p>
    <a class="btn btn-outline-info" style="color: white;" href="#top">Back to Top</a>
</div>