@model IEnumerable<QuanLyTour.Models.Tour>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_User_layout.cshtml";
}

<h2>Tours</h2>
<div class="card-columns">
@foreach (var item in Model)
{
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">
                @Html.DisplayFor(modelItem => item.TourName)
            </h3>
            <p>
                @Html.DisplayFor(modelItem => item.TourDescription)
                <br />
                Price: $@Html.DisplayFor(modelItem => item.TourPrice)
            </p>
            @Html.ActionLink("Take a look", "Details", new { id = item.ID }, new { @class = "btn btn-outline-primary" })
        </div>
    </div>
}
</div>
