@model IEnumerable<QuanLyTour.Models.Location>

@{
    /**/

    ViewBag.Title = "AddLocations";
    Layout = "~/Views/Admin/_Admin_layout.cshtml";
}

<h2>Create new tour</h2>
<p>I will walk you through a few steps to create a new tour.</p>
<ol class="breadcrumb">
    <li class="breadcrumb-item">General Info</li>
    <li class="breadcrumb-item active">Add destinations</li>
    <li class="breadcrumb-item">Add Tour Groups</li>
    <li class="breadcrumb-item">Confirm</li>
</ol>
<h2>Add destinations to tour @ViewBag.TourName</h2>

@using (Html.BeginForm("AddLocations", "Admin", FormMethod.Post, new { @class = "form-group" }))
{
    foreach (var item in Model)
    {
        <input type="checkbox" name="LocationID" value=@item.LocationID />
        <label>@item.LocationName</label>
        <br />
    }
    <button type="submit" class="form-control btn btn-primary">Next step</button>
}
